*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-container{
    width: 100%;
    display: flex;
    padding: 1.5%;
    justify-content: space-between;
    background-color: #1c1ca4;
    align-items: center;
    box-shadow: 0px 0px 5px 6px #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo-section{
    width: 50%;
    text-indent: 25%;
}
.nav-links{
    width: 50%;
}
.nav-logo{
    padding: 1%;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: bold;
    /*color: #800080;*/
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 4px #000;
}

.nav-items{
    font-size: 1.09rem;
    padding: 0.5%;
    margin: 0 2% 0 1%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.nav-items:hover{
    font-size: 1.09rem;
    font-weight: bold;
    padding: 0.5%;
    color: #fda903;
    border-bottom: 4px solid white;
}

main{
    width:100%;
    min-height: 200px;
    background-color: #3737d8;
    margin-top: 5.3%;
    z-index: 0;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.introduction{
    width: 50%;
    padding: 8% 2% 8% 14%;
    
}
.profile-img{
    width: 50%;
}
.name{
    color: white;
    text-shadow:3px 3px 2px #000;
    font-size: 1.5rem;
}
.intro-i, .intro-profession{
    font-size: medium;
    text-shadow:2px 2px 2px #000;
}
.role{
    color: #01c4ff;
}
.intro-career{
    color: whitesmoke;
    text-align: justify;
    font-size: 1rem;
    margin: 2% 0% 3.5% 0%;
}
.More-AboutMe,.about-myexperience,
.cs-deparment-link,.survey-link{
    width: 25%;
    padding: 1.5%;
    font-size: 0.9rem;
    color:white;
    font-weight: bold;
    border: 3px solid #01c4ff;
    background-color: #1c1ca4;
    border-radius: 30px;
    text-decoration: none;
}

.More-AboutMe:hover,.about-myexperience:hover,
.cs-deparment-link:hover,.survey-link:hover{
    width: 25%;
    padding: 1.5%;
    font-size: 0.9rem;
    color:black;
    font-weight: bold;
    border: 3px solid #1c1ca4;
    background-color: #01c4ff;
    border-radius: 30px;
}
.cs-deparment-link,.survey-link{
    margin-left: 1%;
}
.profile-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-img img{
    width: 40%;
    height: auto;
    border: 5px solid #01c4ff;
    border-radius: 43%;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.682);
    animation-name: move-image;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes move-image{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-0.9rem);
    }
    100%{
        transform: translateY(0);
    }
}

.space-between-section,.space-between-section1{
    width: 100%;
    height: 50px;
    background-color: #3737d8;
}
.space-between-section{
    background-color: #3737d8;
}
.space-between-section1{
    background-color: whitesmoke;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.about-img{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin: 7% 0% 4% 0%;
    
}
.about-img img{
    width: 40%;
    height: auto;
    border: 5px solid #ffdd01;
    border-radius: 20%;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.682);
}
.about-info{
    width: 50%;
    margin: 7% 0% 4% 0%;
}

.about-i, .about-role{
    color: rgb(0, 0, 0);
}

.about-role{
    font-size: 1rem;
}

.about-info-me{
    color: #242424;
    text-align: justify;
    font-size: 1rem;
    margin: 1% 4% 3.5% 0%;
}
.skill{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.technical-skill{
    width: 50%;
    padding: 7.8% 2% 5% 10%;
}
.professional-skill{
    width: 50%;
    padding: 0% 9% 5% 5%;
}
.tech-heading,.professional-heading{
    color: white;
    text-shadow:2px 0px 3px #000;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #01c4ff;
    text-decoration-thickness: 3px;
    margin-bottom: 4%;
}
.list-tskills,.list-pskills{
    list-style: none;
}
.list-tskills,.list-pskills{
    width: 100%;
    padding: 2%;
    text-shadow:3px 3px 4px #000;
}
.list-tskills li,.list-pskills li{
    width: 100%;
    padding: 3% 1%;
}
.html,.css,.js,.react,.sql,.Creativity,.Communication,.Problem-solving,.Team-work{
    color: whitesmoke;
}
.progress-container{
    width: 100%;
    padding: 1.2%;
    background-color: #000;
    border-radius: 15px;
    margin-top: 1%;
    border: 2px solid grey;
}
.percentage-bar{
    width: 80%;
    background-color: #01c4ff;
    border: 2px solid white;
    border-radius: 10px;
}
.percentage-value-html{
    padding: 0% 90% 0% 0%;
}
.percentage-value-css{
    padding: 0% 90% 0% 0%;
}
.percentage-value-js{
    padding: 0% 80% 0% 0%;
}

.percentage-value-react{
    padding: 0% 70% 0% 0%;
}
.percentage-value-mysql{
    padding: 0% 80% 0% 0%;
}
.percentage-value-Team-work,.percentage-value-Creativity,.percentage-value-Communication{
    padding: 0% 80% 0% 0%;
}
.percentage-value-Problem-solving{
    padding: 0% 70% 0% 0%;
}

.Work-Experience{
    background-color: whitesmoke;
}
.list-work-experience{
    width: 100%;
    padding: 2% 4%;
    list-style: none;
}
.list-work-experience li{
    width: 100%;
    border: 2px solid black;
    padding: 1% 2%;
    margin-bottom: 1%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(144, 144, 144, 0.651);
}
.workEx-heading{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #01c4ff;
    text-decoration-thickness: 3px;
    margin-bottom: 4%;
}
.role-description{
    font: 0.5rem;
    margin-top: 0.5%;
    color: #242424;
}

.project-heading{
    color: white;
    text-shadow:3px 0px 3px #000;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #01c4ff;
    text-decoration-thickness: 3px;
    margin-bottom: 4%;
}

.list-project{
    width: 100%;
    padding: 2% 4%;
    list-style: none;
}

.list-project li{
    width: 100%;
    border: 3px solid #01c4ff;
    padding: 1% 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(254, 209, 74, 0.651);
}

.project-name{
    color: white;
    text-shadow:3px 3px 3px #000;
    margin-bottom: 0.6%;
}
.project-description{
    color: white;
    font: 0.5rem;
    text-shadow:3px 2px 3px #000;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.boy-img{
    width: 50%;
    padding: 3% 2% 5% 14%;
}
.contact-information{
    width: 50%;
    padding: 0% 2% 10% 10%;
}
.contact-information h2{
    width: 50%;
    margin-bottom: 3%;
    margin-left: 1%;
    text-decoration-line: underline;
    text-decoration-color: #01c4ff;
    text-decoration-thickness: 3px;
}
.information-contact{
    list-style: none;
}
.location,.phone,.email{
    display: flex;
}
.location p,.phone p,.email p{
    margin-left: 1%;
    padding: 1%;
}
.location i,.phone i,.email i{
    padding: 1%;
}
.footer{
    border-top: 2px solid rgb(79, 79, 79);
    background-color: #3b3bdd;
    box-shadow: 0px 0px 5px 2px #888888;
    text-align: center;
    padding-top: 0.5%;
}
.footer i{
    color: black;
    padding-left: 0.5%;
}
.footer i:hover{
    color: grey;
}
.text-author{
    color: white;
    padding-bottom: 1%;
}
